In [10]:
import pandas as pd 
data = pd.read_csv("../data/movie_profit.csv")

In [11]:
data.head()

,Unnamed: 0,release_date,movie,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,genre
0,1,6/22/2007,Evan Almighty,175000000.0,100289690.0,1.741313e+08,Universal,PG,Comedy
1,2,7/28/1995,Waterworld,175000000.0,88246220.0,2.642462e+08,Universal,PG-13,Action
2,3,5/12/2017,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,Warner Bros.,PG-13,Adventure
3,4,12/25/2013,47 Ronin,175000000.0,38362475.0,1.517168e+08,Universal,PG-13,Action
4,5,6/22/2018,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,Universal,PG-13,Action

In total I can see 9 columns where each line gives more information about the costs and profits of making a movie. The first column 'Unnamed' seems to be and index so we have to modify the reading of the csv

In [18]:
data = pd.read_csv("../data/movie_profit.csv", index_col=0)

In [21]:
data.columns

# lets get some more information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3401 entries, 1 to 3401
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       3401 non-null   object
 1   movie              3401 non-null   object
 2   production_budget  3401 non-null   float64
 3   domestic_gross     3401 non-null   float64
 4   worldwide_gross    3401 non-null   float64
 5   distributor        3353 non-null   object
 6   mpaa_rating        3264 non-null   object
 7   genre              3401 non-null   object
dtypes: float64(3), object(5)
memory usage: 239.1+ KB

In [24]:
# We can already see that we have some missing values in the data. To get a better overview of the missing values I use the following code:
data.isnull().sum()

release_date           0
movie                  0
production_budget      0
domestic_gross         0
worldwide_gross        0
distributor           48
mpaa_rating          137
genre                  0
dtype: int64

In [30]:
# Since we have enought data to work with, I will drop the rows with missing values
data.dropna(inplace=True)

# Now we can check if we have duplicate rows in the data
print(data.duplicated().sum())

0

In [31]:
# Now that we have cleaned the data, we can have a first look at the number fields
data.describe()

       production_budget  domestic_gross  worldwide_gross
count       3.230000e+03    3.230000e+03     3.230000e+03
mean        3.459218e+07    4.726805e+07     9.841706e+07
std         3.526337e+07    5.973707e+07     1.432841e+08
min         2.500000e+05    0.000000e+00     0.000000e+00
25%         1.000000e+07    6.867944e+06     1.177994e+07
50%         2.200000e+07    2.733297e+07     4.404424e+07
75%         4.900000e+07    6.341329e+07     1.252019e+08
max         1.750000e+08    4.745447e+08     1.304866e+09